<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hotels</title>
  </head>
  <body>

    {{range .}}
      {{.Name}}<br>
      {{.Region}}<br>
      {{.Address}} {{.City}} {{.Zip}}<br>

    {{end}}

  </body>
</html>
