{{define "footer"}}
<footer>
    <nav>
        <a href="#">
            <svg><use xlink:href="#home"></use></svg>
            Home
        </a>
        <a href="#"><svg><use xlink:href="#briefcase"></use></svg>Portfolio</a>
        <a href="#"><svg><use xlink:href="#pencil"></use></svg>Edit</a>
        <a href="#"><svg><use xlink:href="#gear"></use></svg>Settings</a>
    </nav>
</footer>
{{end}}
