<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>

<!-- BEGIN SVG DEFINITIONS -->
{{ template "svg" }}
<!-- END SVG DEFINITIONS -->

{{template "header"}}

{{template "section"}}

{{template "footer"}}

</body>
</html>
