<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Name}}<br>
    {{.Region}}<br>
    {{.Address}}<br>
    {{.City}}<br>
    {{.Zip}}<br>
    {{.Region}}<br>
{{end}}

</body>
</html>
